html {
    background-color: #f9e1e0be;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    margin: 75px;
    padding: 25px;
    background-color: #feadb96c;
}
.header {
    text-align: center;
}
#submit {
    border: none;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}
#submit:hover {opacity: 1}
.option {
    margin-left: 50px;
}
@media only screen and (min-width: 1024px) {
    body {
        margin: 75px 300px 0px 300px;
        padding: 25px;
    }
}